<div class="navbar navbar-expand-sm navbar-lewagon fixed-top">
  <div class="navbar-header">
    <%= link_to "Cocktailful", root_path %>
  </div>
  <ul class="navbar-nav navbar-right">
    <li class="nav-item active">
      <%= link_to "Add a Cocktail", new_cocktail_path %>
    </li>
  </ul>

</div>
